@font-face {
    font-family: "Heading";
    src: url(Ethnocentric-Regular.otf) format("opentype");
    font-weight: 400;
}
#heading{
    font-family: 'Heading';
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.faq-container {
    border-top: 1px solid #333;
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 50px;
    cursor: pointer;
}

.faq-item p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #525151;
    line-height: 1.6;
}

summary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

.icon {
    font-size: 24px;
    font-weight: 300;
}

details[open] .icon {
    transform: rotate(45deg);
}
@media (max-width: 600px) {
    .faq-item {
        padding: 20px 20px; 
    }
    
    #heading {
        font-size: 32px; 
        padding-left: 20px;
        padding-right: 20px;
    }
}