@font-face {
    font-family: "Heading";
    src: url(Ethnocentric-Regular.otf) format("opentype");
}

.svg-wrapper {
    margin-top : 12vw;
    object : fit-content;
    height : 25vh;
    width: 88%;
    display: flex;
    justify-content: center;
    margin-left : auto;
    margin-right : auto;
}

.text-svg {
    margin-left : 30vw;
    font-family: 'Heading';
    font-size: 13vw;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 30 10;
    animation: trace 10s linear infinite;
}

@keyframes trace {
    from { stroke-dashoffset: 200; }
    to { stroke-dashoffset: 0; }
}

.icon-container {
    width : 30%;
    display: flex;
    flex-direction : row;
    gap : 2.5vw;
    margin-left : auto;
    margin-right : auto;
    height : 10vh;
}

.icon {
    margin-top : 3vw;
    margin-left : 1.7vw;
    transform : scale(1.6);
    cursor: pointer;
    transition: transform 0.3s;
}

.icon:hover { transform: scale(1.2); }

.copyright_{
    margin-left : auto;
    margin-right : auto;
    color : grey;
    width : 18.5%;
    margin-top : 14vw;
}

@media (max-width: 700px) {
    .text-svg { font-size: 50px; }
    .icon-container { gap: 20px; }
    .icon { font-size: 30px; }
}
@media (min-width: 700px) and (max-width: 1300px) {
    .text-svg { font-size: 100px; }
    .icon-container { gap: 20px; }
    .icon { font-size: 30px; }
}

.popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(15px); border: 1px solid rgba(255, 255, 255, 0.1); padding: 30px; border-radius: 20px; text-align: center; width: 80%; max-width: 350px; }
.popup.active { display: block; }
.popup-close { cursor: pointer; float: right; }
.copyright { position: fixed; bottom: 20px; font-size: 12px; color: #444; }